{{page-title "SearchErfgoed"}}

<NewRequestStep
  @currentStep={{1}}
  @title="Zoek op naam of locatie"
  @description="Geef het adres van de werken om te zien of het een beschermd erfgoed is."
  @prevStepLink="citizen"
  @nextStepLink="citizen.generic-admission-duties"
>
  <AuInput
    id="search-input"
    type="text"
    @width="block"
    style="width: 50%;"
    value={{this.searchTerm}}
    oninput={{this.updateSearchTerm}}
    placeholder="Zoek op naam of locatie"
  />
  <AuButton {{on "click" this.performSearch}}>Zoek</AuButton>
  <div>
    <h2>Heritage Information:</h2>
    <ul>
      {{#each this.heritageInformation as |info|}}
        <AuCard as |c|>
          <c.header>
            <AuLink @route="citizen.generic-admission-duties">
              <AuHeading @skin="4">
                {{info.naam}}
              </AuHeading>
            </AuLink>
          </c.header>
          <c.content>
            <AuContent>
              {{info.locatie.omschrijving}}
            </AuContent>
          </c.content>
        </AuCard>
      {{/each}}
    </ul>
  </div>
</NewRequestStep>